<header class="header">
    <div class="container">
        <nav class="navigation">
            <a class="logo link" href="./index.html">
                <img src="./images/logo.svg" alt="logo" />
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="list navigation__list">
                <li>
                    <a class="link link--current" href="./index.html">Home</a>
                </li>
                <li>
                    <a class="link" href="./my-library.html">My library</a>
                </li>
                <li>
                    <a class="link" href="#" id="user">Login | Join</a>
                </li>
            </ul>
        </nav>
        <label class="header__search">
            <input
                class="header__input"
                type="text"
                id="search-box"
                placeholder="Movie search"
            />
            <img class="header__icon" src="./images/search.svg" alt="" />
        </label>

        <button type="button">click me</button>
    </div>
</header>
