<header class="header-my-library" id="header">
    <div class="container">
        <nav class="navigation">
            <a class="logo link" href="./index.html">
                <svg class="logo-icon" alt="logo" width="24" height="24">
                    <use href="./images/icons.svg#logo"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="list navigation__list">
                <li>
                    <a class="link" href="./index.html">Home</a>
                </li>
                <li>
                    <a class="link link--current" href="./my-library.html"
                        >My library</a
                    >
                </li>
                <li>
                    <a class="link" href="#" id="user">Login | Join</a>
                </li>
            </ul>
        </nav>
        <div class="btns">
            <button
                type="button"
                class="btns__button js-watched active"
                name="watched"
            >
                watched
            </button>
            <button type="button" class="btns__button js-queue" name="queue">
                queue
            </button>
        </div>
        <a href="#header" class="link link__up visually-hidden" title="Go up">
            <svg class="link__up-icon" width="24" height="24">
                <use href="./images/icons.svg#arrow-up"></use>
            </svg>
        </a>
    </div>
</header>
