.modal__btns {
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: flex-start;
    }

    &__button {
        @include button($mainColor);
        width: 110px;
        @include mobile {
            width: 125px;
        }
        @include desktop {
            width: 136px;
        }
        &:first-child {
            margin-right: 20px;
            @include tablet {
                margin-right: 15px;
            }
        }
    }
}

.header__btns__button {
    @include button($whiteColor);
    width: 130px;
    margin-top: 60px;
    font-family: inherit;
    @include tablet {
        width: 152px;
    }
    @include desktop {
        width: 148px;
        margin-top: 40px;
    }
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include tablet {
        gap: 32px;
    }

    @include desktop {
        gap: 16px;
    }
}
