.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    @include tablet {
        gap: 15px;
    }

    &__button {
        @include button($whiteColor);
        width: 130px;
        margin-top: 60px;
    
        @include tablet {
            width: 152px;
        }
        @include desktop {
            width: 148px;
            margin-top: 40px;
        }
    }

    &__button--modal {
        @include button($mainColor);
        width: 110px;
        @include mobile {
            width: 125px;
        }
        @include desktop {
            width: 136px;
        }
    }
}

