.header {
    padding-top: 20px;
    background-image: url(../images/header_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include retina {
        background-image: url(../images/header_mobile@2x.jpg);
    }
    @include tablet {
        background-image: url(../images/header_tablet.jpg);
        @include retina {
            background-image: url(../images/header_tablet@2x.jpg);
        }
    }
    @include desktop {
        background-image: url(../images/header_desktop.jpg);
        @include retina {
            background-image: url(../images/header_desktop@2x.jpg);
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $whiteColor;
    
    @include desktop {
        gap: 10px;
    }
}

.logo-icon {
     stroke: $whiteColor;
}

.logo__text {
    display: none;
    @include tablet {
        display: block;
    }
}

.navigation {
    font-weight: 500;
    line-height: 1.17;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $whiteColor;
}

.navigation__list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}

.link--current {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 3px;
        margin: inherit;
        display: block;
        background-color: $secondAccentColor;
    }
}

.header__search-box {
    position: relative;
    display: block;
}

.header__input {
    min-width: 250px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    color: $whiteColor;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid $whiteColor;
    outline: none;
    &::placeholder {
        color: $whiteColor;
    }
}

.header__icon {
    position: absolute;
    right: 0;
    bottom: 6px;
    fill: $whiteColor;
}

.header-my-library {
    height: 230px;
    padding-top: 20px;
    background-image: url(../images/my_library_mobile.jpg),
        linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include retina {
        background-image: url(../images/my_library_mobile@2x.jpg),
            linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
    }

    @include tablet {
        height: 219px;
        background-image: url(../images/my_library_tablet.jpg),
            linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
              
        @include retina {
            background-image: url(../images/my_library_tablet@2x.jpg),
                linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
        }
    }

    @include desktop {
        height: 216px;
        background-image: url(../images/my_library_desktop.jpg),
            linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

        @include retina {
            background-image: url(../images/my_library_desktop@2x.jpg),
                linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
        }
    }
}
.header__thumb {
    margin-top: 40px;
    @include tablet{
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.filter {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-40px);
    pointer-events: none;

    @include tablet {
        transform: translateY(-20px);
        margin: 0;
    }
   
    &__input {
        margin-bottom: 10px;
        pointer-events: visiblePainted;
        @include font(12, 500, 1.15, 0.02em);
        text-align: center;
        display: block;
        color: $whiteColor;
        padding: 6px 30px 6px 20px;
        width: 150px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $whiteColor;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        border-radius: 6px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../images/arrowDown.svg");
        background-position: right 5px top 58%, 0;
        background-color: transparent;
        background-size: 14px auto, 100%;
        background-repeat: no-repeat;
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        &__input option {
            font-weight: 500;
        }
    }

    &__input::-ms-expand {
        display: none;
    }

    &__input:focus {
        background-color: #0e171e;
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-bottom: 10px;
        color: #fff;
    }
}

.filter__input--position {
    transform: translate(0, -20px);
    @include tablet{
        transform: translate(-185%, 40px);
    }
}

.header__search {
    @extend %flexCentered;
    position: relative;
    margin: 0 auto;
}

.header__btn-mic {
    margin-right: 8px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    color: $whiteColor;
    transition: transform 500ms linear;
}
.header__icon-mic {
    fill: currentColor;
}

.header__icon-record {
    margin-right: 8px;
    fill: red;
    background-color: transparent;
    border: transparent;
}

.-active {
    animation: fire-color 700ms linear infinite alternate;
}
@keyframes fire-color {
    0% {
        color: $whiteColor;
    }
    100% {
        transform: scale(1.7);
        color: $accentColor;
    }
}
