.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 40px);
    padding: 48px 20px 40px 20px;
    background-color: $whiteColor;
    @media screen and (max-width: 767px) {
        max-height: calc(100vh - 40px);
        overflow-y: scroll;
    }
    @include mobile {
        width: 440px;
    }
    @include tablet {
        width: 704px;
        padding: 40px 36px;
    }
    @include desktop {
        width: 806px;
        padding: 40px 12px;
    }
}
.modal__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $mainColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
        color: $accentColor;
    }
}
.modal__close-icon {
    fill: currentColor;
}
// --- movie-modal__content ---
.modal__content {
    @include tablet {
        display: flex;
        align-items: flex-start;
    }
}
.modal__img {
    border-radius: 5px;
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
    @include tablet {
        width: 264px;
        margin-right: 68px;
    }
    @include desktop {
        width: 375px;
        margin-right: 16px;
    }
}
.modal__text {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 260px;
    }
}
.modal__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 500;
    text-transform: uppercase;
    @include desktop {
        font-size: 30px;
    }
}
.modal__figures {
    display: flex;
    margin-bottom: 20px;
}
.modal__properties {
    flex-shrink: 0;
    margin-right: 40px;
    color: $lightTextColor;
    @include desktop {
        margin-right: 80px;
    }
    & li:not(:last-child) {
        margin-bottom: 8px;
    }
}
.modal__values {
    &:first-child {
        color: $lightTextColor;
    }
    & li:not(:last-child) {
        margin-bottom: 8px;
    }
}
.modal__vote-average {
    padding: 1px 9px;
    color: $whiteColor;
    background-color: $accentColor;
    border-radius: 5px;
}
.modal__vote-count {
    padding: 1px 5px;
    background-color: $bgColor;
    border-radius: 5px;
}
.modal__about--title {
    margin-bottom: 8px;
    font-weight: 500;
    text-transform: uppercase;
}
.modal__about--text {
    margin-bottom: 20px;
    line-height: 1.67;
}
.modal__watch-button {
    @include button($mainColor);
    padding: 14px 10px;
    margin-bottom: 8px;
    background-color: #cccccc;
    border: none;
    display: flex;

}
.modal__play-icon {
    fill: currentColor;
    flex-shrink: 0;
    margin-right: 5px;
}

.modal__thumb {
    display: flex;
    justify-content: center;
}

.modal--size {
    max-width: 500px;
    padding: 15px;
}

.modal__link {
    font-size: 16px;
    padding: 8px;
}